$breakpoint: 600px; 

.space {
  display: none;

  @media (min-width: $breakpoint) {
    display: inline-block;
  }
}

.container {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}